<div class="picContainer">
    <div class="picContent">
        <img src="{{image_url}}" alt="">
        <h1>Posted by {{user.username}}</h1>
        <p>{{description}}</p>
    </div>
</div>

<div class="picButtons">
    <a href="/"><button>GO BACK</button></a>
    <a href="/gallery/{{id}}/edit"><button>EDIT</button></a>
</div>